extends home
  
block headbar
  br
  br
  
  if items
    .container
    .row.justify-content-md-center
      .col-8
              
          table.table.table-bordered.table-striped
            tr
              th Cover
              th Title
              th Quantity
            each item in items  
              tr  
                  td.d-flex.justify-content-center.align-items-center
                      img(src=item.item.coverUrl, width='64')
                  td=item.item.title
                  td=item.qty
          .d-flex.justify-content-between
            a.btn.btn-primary(href='/cart') Back
            a.btn.btn-primary(href='/cart/hirenow') Confirm
          
          