html
  head
    link(link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="custom.css")
  body
    block content