extends layout
  
block content

  .page-wrap.d-flex.flex-row.align-items-center
    .container
      .row.justify-content-center
        .col-md-12.text-center
          .mb-4.lead NO PERMISSION!
          a.btn.btn-link(href='/') Back to Home